body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1FFFA;
    width: 100%;
    height: 100vh;
    display: flex;
}

.status-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40pt;
    background-color: #2C1320;
}

.top-navbar {
    width: 100%;
    height: 50pt;
    position: absolute;
    top: 40pt;
    text-align: center;
    background-color: #2C1320;
    color: #F1FFFA;
}

.scroll {
    position: absolute;
    top: 90pt;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc((100% - 90pt ) - 75px);
}


.scroll > .items {
    position: absolute;
    visibility: hidden;
    display: grid;
    gap: 20px;
    padding: 10px 15px;
}

.current{
    visibility: visible;
}


.items > .item {
    width: 300px;
    height: 200px;
    background-color: #587D71;
    border-radius: 25px;
    padding-right: 5px;
    position: relative;
    text-align: right;
}

.item > h3 {
    text-decoration:none;
    position: absolute;
    bottom: 0;
    left: 80px;
    color: #8EFA95;
}

.bottom-tabbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56pt;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #D9D9D9;
}

.btabbar-item { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    color: #999;
}

.btabbar-item.active {
    color: black;
}

.btabbar-item > h6 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
}

.items.favorite {
    display: flex;
    flex-direction: column;
}


/* barra login */
.login-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 65vh;
}
  
.login-bar input {
    margin-bottom: 10px; /* Ajusta el espacio entre los campos de entrada */
}
  
.login-bar button {
    background-color: #2C1320;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Ajusta el espacio entre el último campo de entrada y el botón */
}
  /* fin barra login */


.registerb {
    display: block; /* Asegura que el elemento sea bloque para poder centrarlo */
    text-align: center; /* Centra horizontalmente el texto */
}

.items.account {
    position: fixed; /* Evita el scroll */
    overflow: hidden; 
}

.items.register{
    position: fixed;
    overflow: hidden;
}

.items.campaign img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    position: relative;
}
.items.campaign progress {
    appearance: none;
}
.items.campaign progress::-webkit-progress-bar {
    background-color: rgb(220, 216, 216); /* Color de fondo de toda la barra */
}

.items.campaign {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    text-align: center; /* Centrar el texto */
}
.items.campaign svg,
.items.campaign h7 {
    margin-left: 250px;
    margin-top: -20px;
}

.items.campaign .dollar {
    display: flex;
    align-items: center;
    margin-left: -10px;
}

.items.campaign .dollar span {
    color: #48b293; 
    font-weight: bold; 
    font-size: 1.2em; 
}

.items.campaign .dollar span:first-child {
    margin-right: 5px; /* Espacio entre el signo de dólar y el número */
}

.input-field {
    margin-bottom: 10px;
    width: 65%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.items.campaign .donate-button {
    background-color: #8EFA95;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px; 
}
.items.campaign .donation-container {
    display: flex;
    align-items: center;
}

.donation {
    padding-top: 5px; /* Espacio superior */
    padding-bottom: 5px; /* Espacio inferior */
}

.items.campaign .svg-donar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -250px;
}


.error-message {
    color: red;
    font-size: 0.8em;
    margin-top: -20px;
    min-height: 2px;
    max-height: 2px;
  }

