body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1FFFA;
    width: 100%;
    height: 100vh;
    display: flex;
}

.status-bar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 40pt;
    background-color: #2C1320;
}

.top-navbar {
    width: 100%;
    height: 50pt;
    position: absolute;
    top: 40pt;
    text-align: center;
    background-color: #2C1320;
    color: #F1FFFA;
}

.scroll {
    position: absolute;
    top: 90pt;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc((100% - 90pt ) - 75px);
}


.scroll > .items {
    position: absolute;
    visibility: hidden;
    display: grid;
    gap: 20px;
    padding: 10px 15px;
}

.current{
    visibility: visible;
}


.items > .item {
    width: 300px;
    height: 200px;
    background-color: #587D71;
    border-radius: 25px;
    padding-right: 5px;
    position: relative;
    text-align: right;
}

.item > h3 {
    text-decoration:none;
    position: absolute;
    bottom: 0;
    left: 80px;
    color: #8EFA95;
}

.bottom-tabbar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56pt;
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #D9D9D9;
}

.btabbar-item { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
    cursor: pointer;
    color: #999;
}

.btabbar-item.active {
    color: black;
}

.btabbar-item > h6 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 400;
}

.items.favorite {
    display: flex;
    flex-direction: column;
}

/* barra login */
.login-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 50vh;
}
  
.login-bar input {
    margin-bottom: 10px; /* Ajusta el espacio entre los campos de entrada */
}
  
.login-bar button {
    background-color: #2C1320;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px; /* Ajusta el espacio entre el último campo de entrada y el botón */
}
  /* fin barra login */

.items.account {
    position: fixed; /* Evita el scroll */
    overflow: hidden; 
}

img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    position: relative;
    left: 10%;
}
progress {
    position: relative;
    left: 25%;
}
 
.campaign {

    text-align: center;
}