/* Campaign.css */
.campaign-image {
    max-width: 50%;
    height: auto;
    display: flex;
    border-radius: 10px;
    margin: 20px auto 0;
}
.campaign-container {
    text-align: center;
}
.campaign-title {
    margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}
ion-title{
    margin-right: 53px;
}

.donation-container {
    margin-top: 16px;
}

.donation-container p {
    margin: 8px 0;
}

ion-button {
    width: 35%;
    --background: #2C1320;
    --color: white;
    margin-top: 16px;
}